<!DOCTYPE html>

<head>
    <title>Cart</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
</head>

<body>
    
    {{> navbar}}

    <div id="cart" style="width: 70%; float: left">

        {{#each shoeInCart}}

            <div class="shoe" id="tag-{{iid}}">
                <a href="/shoe/{{sid}}"> 
                    <img src="{{imageURL}}" width="100px" height="100px">
                    <h2>{{name}}</h2>
                </a>
                <h3>{{gender}}</h3>
                <h4>{{price}}</h4>
                <p>Size {{size}}</p>

                <input type="number" class="update" id="{{iid}}" value="{{qty}}" min="1">

                <button class="remove" id="{{iid}}">Remove from cart</button>
                
                <br>
                <p>______</p>
                <br>

            </div>

        {{/each}}

    </div>

    <div style="width: 30%; float: right">

        <p id="total">Total: </p>

        <p class="total">{{total}}</p>

        <a href="/checkout">Checkout</a>
        
    </div>

    <div style="float: inline-block; position: fixed; bottom: 30px; right: 30px;">
        <a href="#">Back to top</a>
    </div>

</body>

<script>

    $( ".update" ).keypress( function(e) {
        e.preventDefault();
    });

    $( ".update" ).change( function () {

        $.blockUI({
            overlayCSS: {
                backgroundColor: "00FFFF"
            }
        });

        $.post("/cart/update", {
            iid: $( this ).attr( "id" ),
            qty: $( this ).val()
        })
        .done((res) => {

            if (res.msg == "Out of stock") {

                alert(res.msg);
                $( this ).val( (parseInt($( this ).val()) - 1).toString() );
            } else {

                document.getElementsByClassName( "total" )[0].innerHTML = res.newTotal.toString();
            }

            $.unblockUI();
            
        });
    });

    $( ".remove" ).click( function() {
        
        $.blockUI({
            overlayCSS: {
                backgroundColor: "00FFFF"
            }
        });

        $.post("/cart/delete", {
            iid: $( this ).attr( "id" )
        })
        .done((res) => {

            $(res.divId).remove();

            document.getElementsByClassName( "total" )[0].innerHTML = res.newTotal.toString();

            $.unblockUI();

        });

    }); 

</script>