<!DOCTYPE html>

<head>
    <title>Cart</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
</head>

<body>
    
    {{> navbar}}

    <div id="cart" style="width: 70%; float: left">

        {{#each shoeInCart}}

            <div class="shoe" id="tag-{{shoe.sid}}_{{size}}">
                <a href="/category/{{shoe.gender}}/{{shoe.sid}}"> 
                    <img src="{{shoe.imageURL}}" width="100px" height="100px">
                    <h2>{{shoe.name}}</h2>
                </a>
                <h3>{{shoe.gender}}</h3>
                <h4>{{shoe.price}}</h4>
                <p>Size {{size}}</p>

                <input type="number" class="update" id="{{shoe.sid}}_{{size}}" value="{{qty}}" min="1" max="50">

                <button class="remove" value="{{shoe.sid}}_{{size}}">Remove from cart</button>
                
                <br>
                <p>______</p>
                <br>

            </div>

        {{/each}}

        <script>

            $( ".update" ).keypress( function(e) {
                e.preventDefault();
            });

            $( ".update" ).change( function () {

                $.blockUI({
                    overlayCSS: {
                        backgroundColor: "00FFFF"
                    }
                });

                $.post("/cart/update", {
                    sid: $( this ).attr( "id" ).split("_")[0],
                    size: $( this ).attr( "id" ).split("_")[1],
                    qty: $( this ).val()
                })
                .then((msg) => {

                    if (msg != "ok") {
                        alert(msg);
                    }
                    $.unblockUI();
                    
                });
            });

            $( ".remove" ).click( function() {
                
                $.blockUI({
                    overlayCSS: {
                        backgroundColor: "00FFFF"
                    }
                });

                $.post("/cart/delete", {
                    sid: $( this ).val().split("_")[0],
                    size: $( this ).val().split("_")[1]
                })
                .then((divId) => {

                    $(divId).remove();

                    $.unblockUI();
                });

            }); 

        </script>



    </div>

    <div style="width: 30%; float: right">

        <p id="total">Total: </p>

        <p></p>

        <a href="/checkout">Checkout</a>
        
    </div>

    <div style="float: inline-block; position: fixed; bottom: 30px; right: 30px;">
        <a href="#">Back to top</a>
    </div>

</body>