<!DOCTYPE html>

<head>
    <title>{{category}}</title>
</head>

<body>

    <div id="category">

        <a id="man" href="/man">Man</a>
        <a id="woman" href="/woman">Woman</a>
        <a id="kid" href="/kid">Kid</a>

    </div>

    <div id="search">

        <form action="/search" method="post">
            <input type="text" name="name" id="name" rows="1" cols="60" required style="width: 500px; height: 20px;">
            <input type="submit" value = "Submit">
        </form>

    </div>

    <div style="width: 20%; float:left">
        <div id="sort">Sort by</div>
        <input type="checkbox" id="sortByName" value="sortName">
        <label for="sortByName">Sort by name</label><br>
        <input type="checkbox" id="sortByPrice" value="sortPrice">
        <label for="sortByPrice">Sort by price</label><br>
    </div>

    <div style="width: 80%; float:right">
        {{#each shoes}}
            <a href="/{{category}}/{{sid}}"> 
                <div>
                    <img src="{{imageURL}}" width="100px" height="100px">
                    <h2>{{name}}</h2>
                    <h3>{{category}}</h3>
                    <h4>{{price}}</h4>
                    <p>{{description}}</p>
                </div>
            </a>
        {{/each}}
    </div>

    <div style="float: inline-block; position: fixed; bottom: 30px; right: 30px;">
        <a href="#">Back to top</a>
    </div>

</body>