<!DOCTYPE html>

<head>
    <title id="{{category}}">{{category}}</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
</head>

<body>

    {{> navbar}}

    <div style="width: 20%; float:left">
        <div id="sort">Sort by</div>
        <input class="sort" type="checkbox" id="sortByName" value="sortName">
        <label for="sortByName">Sort by name</label><br>
        <input class="sort" type="checkbox" id="sortByPrice" value="sortPrice">
        <label for="sortByPrice">Sort by price</label><br>
    </div>

    <div class="shoes" style="width: 80%; float:right">
        {{#each shoes}}

            <div>
                <a href="/shoe/{{sid}}"> 
                    <img src="{{imageURL}}" width="100px" height="100px">
                    <h2>{{name}}</h2>
                </a>
                <h3>{{gender}}</h3>
                <h4>{{price}}</h4>
            </div>

            <p>______</p>

        {{/each}}
    </div>

    <div style="float: inline-block; position: fixed; bottom: 30px; right: 30px;">
        <a href="#">Back to top</a>
    </div>

</body>

<script>
    $('.sort').click(function(e) {
        if (document.getElementById( $(this).attr( "id" ) ).checked == false) {
            e.preventDefault();
        } else {
            $('.sort').not(this).prop('checked', false);

            console.log(`/category/${$( 'title' ).attr( "id" )}/${$(this).val()}`)

            $.get(`/category/${$( 'title' ).attr( "id" )}/`, {
                sortBy: $(this).val()
            }, (shoes) => {
                alert("done");
            })
        }
    });
</script>