<!DOCTYPE html>

<head>
    <title>{{shoe.name}}</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
</head>

<body>

    {{> navbar}}

    <br><br>


    <div style="width: 50%; float:left">

        <img src="{{shoe.imageURL}}" width="500px" height="500px">

    </div>

    <div style="width: 50%; float:right">
        <h2>{{shoe.name}}</h2>
        <h3>{{shoe.gender}}</h3>
        <h4>{{shoe.price}}</h4>
        <p>{{shoe.description}}</p>

        <select class="sizeSelect">
            
            <p>Size: </p>
            
            {{#each size}}

                <option value="{{this}}">{{this}}</option>

            {{/each}}

        </select>

        <button class="addToCart" id="{{shoe.sid}}" value="{{shoe.sid}}">Add to cart</button>

        <script>

            $( "button" ).click( function() {

                console.log($(this).attr( "id" ));
                console.log($( ".sizeSelect" ).val());

                $.post("/cart/add_item/", {
                    sid: $(this).attr( "id" ),
                    size: $( ".sizeSelect" ).val()
                })
                .done((messege) => {

                    if (messege == "Ok") {
                        alert("Added to cart");
                    } else if (messege == "Needs to log in"){
                        window.location.href = '/login'
                    }

                })
            });

        </script>

    </div>
    
</body>